{% extends "layout.html" %}
{% block content %}
	{% for post in posts %}
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
        <h2><a class="article-title" href="{{ post.url }}">{{ post.company }}</a></h2>
	      <small class="text-muted">{{ post.location }}</small>
	    </div>
	     <h5 class="mr-2">{{ post.position }}</h5>
	    <p class="article-content">{{ post.job_description }}</p>
	  </div>
	</article>
	{% endfor %}    
	
{% endblock %}