{% extends "layout.html" %}
{% block content %}
  <div style="width: 80%; margin: 50px auto;">
          <div class="content-section">
            <h3>Get Recommendations</h3>
            <p class='text'>Upload your resume to get personalised job recommendations
            <form action = "http://localhost:5000/recomm" method = "POST" 
              enctype = "multipart/form-data">
              <input type = "file" name = "file" />
              <input type = "submit"/>
              </form >
            </p>
          </div>
        </div>
     
	
{% endblock %}